@import "../../global.scss";

.topbar {
    height: 70px;
    width: 100%;
    background-color: white;
    color: $maincolor;
    position: fixed;
    top: 0;
    z-index: 2;
    

    .wrapper {
        height: 50px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {

            .title {
                font-size: 30px;
                font-weight: 600;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}