@import '../../global.scss';

.nextbtncontainer {
    display: flex;
    width: 380px;
    height: 80px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin-left: auto;
    text-decoration: none;
    border: 3px solid $ethpeach;
    border-radius: 100px;
    color: $ethpeach;

    .linktext {
        display: flex;
        font-size: x-large;
        color: $ethpeach;
        align-items: center;
        padding-left: 20px;
    }
    .arrow {
        display: flex;
        margin-right: 20px;
        margin-left: auto;
        height: 79px;
        width: 50px;
        align-items: center;
        color: $ethpeach;
    }
}
