@import '../../global.scss';

.nextbtncontainer {
    display: flex;
    width: 25vw;
    height: 10vh;
    position: absolute;
    bottom: 2%;
    right: 2%;
    margin-left: auto;
    text-decoration: none;
    border: 3px solid $ethpeach;
    border-radius: 100px;
    color: $ethpeach;

    .linktext {
        display: flex;
        font-size: 1.6vw;
        color: $ethpeach;
        align-items: center;
        padding-left: 5%;
    }
    .arrow {
        display: flex;
        margin-right: 5%;
        margin-left: auto;
        margin-top: 1.8%;
        height: 80%;
        width: 15%;
        align-items: center;
        color: $ethpeach;
    }
}
