@import '../../global.scss';
.linktext {
    display: flex;
    height: 67px;
    margin-top: auto;
    margin-top: auto;
    font-size: x-large;
    padding-left: 20px;
    color: $ethpeach;
}
.arrow {
    width: 100px;
    height: 100px;
    color: $ethpeach;
}