@import "../../global.scss";

.contact {
    background-color: $ethgray;
    display: flex;
    height: 100vh;
    width: 100vh;
    box-sizing: border-box;

    .wrapper {
        display: flex;
        width: 360px;
        height: 270px;
        margin: auto;

        .grid-container {
            display: grid;
            grid-template-areas: "left-one   right-one"
                                "left-two   right-two"
                                "left-three right-three"
                                "left-four  right-four";
            grid-template-columns: 20% 80%;
            grid-template-rows: 25%;
            

            a {
                text-decoration: none;
                color: $ethpeach;
                font-size: 140%;
                cursor: pointer;
            }

            .left-one {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                .mail-icon {
                    display: flex;
                    align-items: flex-start;
                    width: 40%;
                    height: 40%;
                    margin: auto;
                }
            }
            .right-one {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .email-address {

                }
            }
            .left-two {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .linked-in-logo {
                    width: 40%;
                    height: 40%;
                }
            }
            .right-two {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .linked-in-link {

                }
            }
            .left-three {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .github-logo {
                    width: 40%;
                    height: 40%;
                }
            }
            .right-three {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .github-link {

                }
            }
            .left-four {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .eth-logo {
                    width: 30%;
                    height: 40%;
                }
            }
            .right-four {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .eth-link {

                }
            }
        }
    }
}