@import "../../global.scss";
* {
    scrollbar-width: none;
}
.intro {
    background-color: $ethgray;
    display: flex;
    height: 100vh;
    box-sizing: border-box;

    .left {
        display: flex;
        width: 50vw;
        height: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;

        .intromessage {
            display: flex;
            height: 20%;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;

            .lineone {
                display: flex;
                width: 100%;
                font-size: 1.6vw;
                padding-left: 18%;
                color: $ethpeach;
                padding-top: 1%;
            }
            .linetwo {
                display: flex;
                width: 100%;
                font-size: 2.2vw;
                justify-content: flex-end;
                padding-right: 10%;
                color: $ethpeach;
                padding-bottom: 1%;
            }
            
        }
        .imgcontainer {
            display: flex;
            height: 80%;
            width: 100%;
            align-items: center;
            justify-content: center;

            .belaypic {
                display: flex;
                height: 90%;
                width: auto;
                border-radius: 50%;
            }

        }
    }
    .right {
        display: flex;
        width: 50vw;
        height: 100%;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: hidden;

        .righttitle {
            display: flex;
            width: 100%;
            height: 10%;
            font-size: 2.2vw;
            justify-content: center;
            align-items: flex-end;
            color: $ethpeach;
            margin-right: 40%;
        }
        .flow-wrapper {
            display: grid;
            height: 75%;
            width: 100%;
            grid-template-areas: "left-one one   right-one"
                                 "left-one two   right-one"
                                 "left-one three right-two"
                                 "left-two four  right-two"
                                 "left-two five  right-three"
                                 "left-two six   right-three";
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: auto;
            margin: 0 5% 15% 0;
            padding: 0 15% 0 15%;
            color: $ethpeach;

            .left-one {
                grid-area: left-one;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                

                .larrow {
                    width: 61%;
                    height: 33%;
                    padding-bottom: 25%;
                    padding-right: 20%;
                }
            }
            .left-two {
                grid-area: left-two;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                .larrow {
                    width: 61%;
                    height: 33%;
                    padding-top: 50%;
                    padding-right: 20%;
                }
            }
            .one {
                grid-area: one;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
              
            }
            .two {
                grid-area: two;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .three {
                grid-area: three;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .four {
                grid-area: four;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .five {
                grid-area: five;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .six {
                grid-area: six;
                width: 100%;
                height: 100%;
                display: flex;
                font-size: x-large;
                align-items: center;
                justify-content: center;
            }
            .right-one {
                grid-area: right-one;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .rarrow {
                    width: 60%;
                    height: 50%;
                    padding-left: 20%;
                }
            }            
            .right-two {
                grid-area: right-two;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .rarrow {
                    width: 60%;
                    height: 50%;
                    padding-left: 20%;
                }
            }
            .right-three {
                grid-area: right-three;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .rarrow {
                    width: 60%;
                    height: 50%;
                    padding-left: 20%;
                }
            }
        }
    }
}